.directors {
  padding-top: 240rem;

  .swiper-slide {
    max-width: 560rem;
    margin-right: 25rem;
  }
}

.director-slide__info {
  cursor: pointer;
}

.directors__wrap {
  display: grid;
  grid-template-columns: 560rem 980rem;
}

.directors__left {
  background: $bgWhite;
  position: relative;
  z-index: 2;
  position: relative;

  .square_btn {
    margin-top: 72rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    left: -100vw;
    height: 100%;
    background: $bgWhite;
  }
}

.directors__left_text {
  max-width: 280rem;
  margin-top: 40rem;
  font-weight: 400;
}

.directors-slider {
  overflow: visible;
}

.director-slide__title {
  font-size: 24rem;
  line-height: 100%;
  font-weight: 400;
}

.director-slide__position {
  margin-top: 9rem;
  color: $textGray;
}


@media screen and (max-width: 1200px) {
  .directors {
    padding-top: 120px;

    .swiper-slide {
      max-width: 420px;
      margin-right: 16px;
    }

    .square_btn {
      display: none;
    }
  }

  .director-slide__info {
  }

  .directors__wrap {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .directors__left {
    max-width: 100%;


    .square_btn {
      margin-top: 20px;
    }

    &::before {
      //display: none;
    }
  }

  .directors__left_text {
    max-width: none;
    margin-top: 16px;
  }

  .directors-slider {
    margin-top: 40px;
  }

  .director-slide__title {
    font-size: 24px;
  }

  .director-slide__position {
    margin-top: 8px;
    color: $textGray;
  }
}

@media screen and (max-width: 1024px) {
  .directors__wrap {
    display: flex;
    flex-direction: column;
  }

  .directors__left {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .directors {
    padding-top: 120px;

    .swiper-slide {
      max-width: 290px;
      margin-right: 16px;
    }
  }

  .directors-slider {
    margin-top: 0;
  }
}
