.marquee {
    padding-top: 250rem;
}

.marquee__wrapper {
    height: 30%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 120rem;
}

.marquee__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    gap: 120rem;

    p {
        text-transform: uppercase;
        font-size: 295rem;
        font-weight: 500;
        line-height: 100%;
        color: $textWhite;
        transition: color .3s ease-in-out;
        text-shadow: -1rem 1rem 0 $textBlack,
            1rem 1rem 0 $textBlack,
            1rem -1rem 0 $textBlack,
            -1rem -1rem 0 $textBlack;
    }


    &:hover {
        p {
            color: $textBlack;
        }
    }
}

.marquee__logo-mob {
    display: none;
}


@media screen and (max-width: 1200px) {
    .marquee__logo-mob {
        display: block;
    }

    .marquee__logo {
        display: none;
    }

    .marquee {
        padding-top: 120px;
    }

    .marquee__wrapper {
        gap: 64px;
    }

    .marquee__item {
        gap: 64px;

        p {
            font-size: 100px;
            text-shadow: -1px 1px 0 $textBlack,
                1px 1px 0 $textBlack,
                1px -1px 0 $textBlack,
                -1px -1px 0 $textBlack;
        }


    }

}
