.mission {
    padding-top: 156rem;

    .wrap {
        display: grid;
        grid-template-columns: 280rem 980rem;
        gap: 280rem;
    }


    .text-wrap {
        margin-top: 70rem;
        display: flex;
        gap: 140rem;
    }

    .cards {
        margin-top: 90rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 140rem 90rem;
    }

    .square_btn {
        margin-top: 45rem;
    }
}


@media screen and (max-width: 1200px) {
    .mission {
        padding-top: 64px;
    }

    .mission .wrap {
        gap: 16px;
        grid-template-columns: 1fr;

        .square_btn {
            display: none;
        }
    }

    .mission .text-wrap {
        margin-top: 64px;
        gap: 20px;
        flex-direction: column;
    }

    .mission .cards {
        margin-top: 64px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
  .mission .text-wrap {
    margin-top: 32px;
  }
}
