.hr {
    display: block;
    width: 100%;
    height: 1rem;
    background: $bgGrayLight;
    transition: width, opacity .3s ease-in-out;
}

.ml-auto {
    margin-left: auto;
}

.block {
    display: block;
}



.uppercase {
    text-transform: uppercase;
}

.spacer {
    padding-top: 250rem;
}

.dimm {
    div {
        transition: 0.5s;
    }

    &:hover>div {
        opacity: 0.3;
    }

    div:hover {
        opacity: 1;
    }
}


@media screen and (max-width: 1200px) {
    .spacer {
        padding-top: 120px;
    }
}
