.news-page {}

.news-page-title__wrap {
    margin-top: 190rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .link {
        line-height: 1;
    }
}

.news-page-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 218rem;
    line-height: 100%;
}

.news-catalog {
    margin-top: 150rem;
}

.news-catalog__filter {
    display: grid;
    grid-template-columns: repeat(3, 280rem);
    gap: 280rem;
}

.news-catalog__filter_count {
    margin-top: 30rem;
    color: $textGray;
}

.news-cards {
    margin-top: 76rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // grid-template-columns: repeat(2, 1fr);
    gap: 20rem;

}


.news-page__marquee {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 80rem;
    width: 100%;
    padding: 250rem 0;
    font-size: 64rem;
    line-height: 100%;
    font-weight: 400;
}

.news-cards__loadmore {
    margin-top: 60rem;
    padding-left: 700rem;
}
