.team-page {}


.team-page-title {
    margin-top: 165rem;
    font-size: 218rem;
    line-height: 110%;
    font-weight: 400;
    text-transform: uppercase;
}


.team-page-hero__text {
    font-size: 20rem;
    max-width: 560rem;
    font-weight: 400;
    color: $textGray;
    margin-top: 250rem;
    margin-left: 980rem;
}

.team-page__wrap {
    margin-top: 238rem;
}
