.director-slide {
}

.director-slide__image {
  height: 810rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.director-slide__info {
  margin-top: 26rem;
  display: flex;
  align-items: flex-start;

  &:hover .vertical {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  &.active .vertical {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .plus {
    margin-left: auto;
  }
}

.director-slide__drop {
  height: 0;
  overflow: hidden;
}

.director-slide__drop_inner {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.director-slide__drop_item {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    color: #5c5c5c;
  }
}

@media screen and (max-width: 1200px) {
  .director-slide {
  }

  .director-slide__image {
    height: auto;

    img {
      object-fit: cover;
    }
  }

  .director-slide__title {
    font-size: 18px !important;
  }

  .director-slide__info {
    margin-top: 26px;
    display: flex;
    align-items: flex-start;

    .plus {
      margin-left: auto;
    }
  }
}
