.enterprise-item {
}

.enterprise-item__wrap {
  padding: 50rem 0;
  cursor: pointer;
}

.enterprise-item__tab {
  align-items: center;
  display: grid;
  grid-template-columns: 560rem 420rem 280rem 420rem;
}

.enterprise-item__title {
  font-size: 40rem;
  font-weight: 300;
  line-height: 100%;
}

.enterprise-item__year {
  text-align: right;
}

.enterprise-item__site-title {
  font-weight: 400;
}

.enterprise-item__content {
  overflow: hidden;
}

.enterprise-item__inner {
  display: grid;
  grid-template-columns: 280rem 980rem;
  gap: 280rem;
  padding-top: 60rem;
  padding-bottom: 80rem;
}

.enterprise-item__info {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.enterprise-item__contact {
  display: flex;
  flex-direction: column;
  h5 {
    color: #767676;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 16rem;
  }
}

@media screen and (max-width: 1200px) {
  .enterprise-item__wrap {
    padding: 20px 0;
  }

  .enterprise-item__tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .enterprise-item__year {
    display: none;
  }

  .enterprise-item__title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
  }

  .enterprise-item__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .enterprise-item__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .enterprise-item__contact {
    display: flex;
    flex-direction: column;
    h5 {
      color: #767676;
      line-height: 100%;
      font-weight: 400;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .enterprise-item__wrap {
    padding: 20px 0;
  }

  .enterprise-item__tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .enterprise-item__year {
    display: none;
  }

  .enterprise-item__link {
    width: 100%;
    margin-bottom: 16px;
  }

  .enterprise-item__title {
    width: 100%;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
  }

  .enterprise-item__inner {
    padding-top: 32px;
    gap: 40px;
  }

  .enterprise-item__info {
    gap: 24px;
  }
}
