.feature-row {
    padding: 40rem 0 0 0;
    cursor: pointer;

    &:hover {
        .plus {
            .vertical {
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }
}

.feature-row__wrap {
    margin-bottom: 40rem;
}

.feature-row__top {
    display: grid;
    grid-template-columns: 280rem 980rem;
    gap: 280rem;
    align-items: center;
}

.feature-row__right {
    display: flex;
    align-items: center;
}

.feature-row__title {
    font-size: 40rem;
    line-height: 110%;
    font-weight: 300;
}

.feature-row__num {
    font-size: 14rem;
    line-height: 110%;
}

.feature-row__content {
    overflow: hidden;
    margin-left: 560rem;
    height: 0;
    max-width: 700rem;
    width: 100%;

    p {
        width: 100%;
        padding-top: 30rem;
    }
}


@media screen and (max-width: 1200px) {
    .feature-row {
        padding: 16px 0 0 0;


    }

    .feature-row__wrap {
        margin-bottom: 16px;
    }

    .feature-row__top {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .feature-row__right {}

    .feature-row__title {
        font-size: 20px;
    }

    .feature-row__num {
        font-size: 12px;
    }
    .feature-row__content {

        margin-left: 0;
        max-width: none;

        p {
            width: 100%;
            padding-top: 40px;
        }
    }
}
