.footer {
    background: $bgBlack;
    color: $textWhite;
    height: 970rem;
    position: relative;
    // margin-top: -970rem;
    bottom: 0;
    //z-index: -1;
}


.footer__wrap {
    padding-left: 200rem;
    padding-top: 390rem;
}

.footer__cta {
    display: flex;
    align-items: center;
    gap: 140rem;
}

.footer__title {
    font-size: 96rem;
    line-height: 100%;
}

.footer__btn {
    width: 280rem;
    height: 160rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rem solid $bgGrayLight;
    border-radius: 4rem;
    font-size: 48rem;
    line-height: 100%;
    transition: background-color, border, color .3s ease-in-out;

    &:hover {
        background: $bgWhite;
        color: $textBlack;
        border: 1rem solid $bgWhite;
    }
}


.footer__bottom {
    margin-top: 230rem;
    display: flex;
    gap: 180rem;
}

.footer__bottom_item {
    display: flex;
    flex-direction: column;
    gap: 26rem;

    span {
        line-height: 100%;
    }

    a {
        font-size: 28rem;
        line-height: 100%;
    }
}


@media screen and (max-width: 1200px) {
    .footer {
        height: auto;
        padding: 40px 0;
    }


    .footer__wrap {
        padding-left: 0;
        padding-top: 0;
    }

    .footer__cta {
        gap: 20px;
    }

    .footer__title {
        font-size: 32px;
    }

    .footer__btn {
        width: 96px;
        height: 96px;
        border: 1px solid $bgGrayLight;
        border-radius: 2px;
        font-size: 20px;
        &:hover {
            background: $bgWhite;
            color: $textBlack;
            border: 1px solid $bgWhite;
        }
    }


    .footer__bottom {
        margin-top: 32px;
        gap: 32px;
        flex-direction: column;
    }

    .footer__bottom_item {
        gap: 8px;

        span {
            line-height: 100%;
        }

        a {
            font-size: 16px;
            line-height: 100%;
        }
    }

}
