.navigation {
    background: $bgBlack;
    color: $textWhite;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 10;

    .container {
        height: 100%;
    }
}

.navigation__header {
    padding: 58rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__close {
    width: 50rem;
    height: 50rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__inner {
    height: calc(100% - 166rem);
    display: flex;
    flex-direction: column;
}

.navigation__wrap {
    padding-left: 280rem;
    //margin-top: 100rem;
    display: flex;
    align-items: center;
    gap: 250rem;
}

.navigation__nav {
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.navigation__link {
    font-size: 128rem;
    letter-spacing: -4%;
    line-height: 110%;
    font-weight: 500;
}

.navigation__right {
    max-width: 280rem;
}

.navigation__right_links {
    display: flex;
    flex-direction: column;
    gap: 32rem;

    a {
        font-size: 24rem;
        line-height: 100%;
    }
}

.navigation__cities {
    color: #565656;
    margin-top: 80rem;
    letter-spacing: -3%;
    font-size: 24rem;
}

.navigation__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    padding-left: 280rem;
    margin-bottom: 70rem;
}

.navigation__bottom_contacts {
    display: flex;
    align-items: center;
    gap: 55rem;
    font-size: 27rem;
}

.navigation__logo-mob {
    display: none;
}

@media screen and (max-width: 1200px) {
    .navigation {
        width: 100%;
    }

    .navigation__header {
        padding: 20px 0;

    }

    .navigation__logo {
        display: none;
    }

    .navigation__logo-mob {
        display: block;
    }

    .navigation__close {
        width: 20px;
        height: 20px;

        svg {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .navigation__wrap {
        padding-left: 0;
        margin-top: 0;
        gap: 32px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__inner {
        padding-top: 32px;
        height: calc(100% - 66px);
    }

    .navigation__nav {
        gap: 20px;
    }

    .navigation__right {
        max-width: none;
        margin-top: auto;
    }

    .navigation__cities {
        max-width: 300px;
        font-size: 20px;
        margin-top: 28px;
    }

    .navigation__link {
        font-size: 40px;
    }

    .navigation__right_links a {
        font-size: 20px;
    }

    .navigation__right_links {
        gap: 16px;
    }



    .navigation__bottom {
        padding-left: 0;
        margin-top: auto;
        margin-bottom: 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__bottom_contacts {
        font-size: 20px;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .navigation__work {
        margin-top: 20px;
        color: $textGray;
        font-size: 14px;

        br {
            display: none;

        }
    }
}
