.project-item__wrap {
    margin-top: 100rem;
    display: grid;
    grid-template-columns: 420rem 1120rem;
    gap: 140rem;
}

.project-item__left_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project-item__title {
    font-size: 24rem;
    line-height: 120%;
    font-weight: 400;
}

.project-item__deadline {
    color: $textGray;
}

.project-item__city {
    font-weight: 400;
    margin-top: 8rem;
}

.project-item__text {
    margin-top: 60rem;
}

.project-item__filters {
    margin-top: 66rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.project-item__btn {
    margin-top: 48rem;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 20rem;
    line-height: 100%;
    width: 100%;
    padding: 28rem;
    border: 1rem solid $bgGrayLight;
}

.project-item__image {
    height: 870rem;

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
