.project-item__wrap {
  margin-top: 100rem;
  display: grid;
  grid-template-columns: 420rem 1120rem;
  gap: 140rem;
}

.project-item__left_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-item__title {
  font-size: 24rem;
  line-height: 120%;
  font-weight: 400;
}

.project-item__deadline {
  color: $textGray;
}

.project-item__city {
  font-weight: 400;
  margin-top: 8rem;
}

.project-item__text {
  margin-top: 60rem;
}

.project-item__filters {
  margin-top: 66rem;
  display: flex;
  flex-direction: column;
  gap: 32rem;
}

.project-item__btn {
  margin-top: 48rem;
  display: block;
  text-align: center;
  border-radius: 4rem;
  font-size: 20rem;
  line-height: 100%;
  width: 100%;
  padding: 28rem;
  border: 1rem solid $bgGrayLight;
  transition: background .3s, color .3s, border .3s ease-in-out;

  &:hover {
    background: $bgBlack;
    color: $textWhite;
    border: 1fr solid $bgBlack;
  }


  &.--mob {
    display: none;
  }
}

.project-item__image {
  height: 870rem;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.filter {
  border-bottom: 1rem solid $bgBlack;

  &.--comfort {
    .filter__content_inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 12rem 0;
    }
  }

  &.--flats {
    .filter__content_inner {
      display: flex;
      flex-direction: column;
      gap: 16rem;
      padding-bottom: 40rem;
    }

    .filter__content_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}

.filter__content_item_type {
  width: 40%;
}

.filter__content_item_square {
  color: $textGray;
}

.filter__content {
  overflow: hidden;
  height: 0;
}

.filter__content_inner {
  padding-top: 30rem;
  padding-bottom: 16rem;
  font-weight: 400;
}

.filter__title {
  padding-bottom: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.active {
    color: $textGray;

    .vertical {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &:hover {
    .vertical {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  .project-item__wrap {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
  }

  .project-item__left_top {
    flex-direction: column;
    gap: 32px;
  }

  .project-item__title {
    font-size: 24px;
    font-weight: 500;
  }

  .project-item__deadline {
  }

  .project-item__city {
    margin-top: 4px;
  }

  .project-item__text {
    margin-top: 32px;
  }

  .project-item__filters {
    margin-top: 64px;
    gap: 28px;
  }

  .project-item__btn {
    margin-top: 32px;
    border-radius: 2px;
    font-size: 16px;
    padding: 16px;
    border: 1px solid $bgGrayLight;
  }

  .project-item__image {
    height: auto;

    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .filter {
    border-bottom: 1px solid $bgBlack;

    &.--comfort {
      .filter__content_inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px 0;
      }
    }

    &.--flats {
      .filter__content_inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 16px;
      }

      .filter__content_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

  }

  .filter__content_item {
    width: 100%;
  }

  .filter__content_item_type {
    width: 40%;
  }

  .filter__content_item_square {
    color: $textGray;
  }

  .filter__content {
    overflow: hidden;
    height: 0;
  }

  .filter__content_inner {
    padding-top: 0px;
    padding-bottom: 16px;
    font-weight: 400;
  }

  .filter__title {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;


  }

}

@media screen and (max-width: 1024px) {
  .project-item__wrap {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .project-item__left_top {
    flex-direction: row;
    gap: 32px;
  }

  .project-item__title {
    font-size: 24px;
    font-weight: 500;
  }

  .project-item__deadline {
  }

  .project-item__city {
    margin-top: 4px;
  }

  .project-item__text {
    margin-top: 32px;
  }

  .project-item__filters {
    margin-top: 32px;
    gap: 40px;
  }

  .project-item__btn {
    margin-top: 0;
    border-radius: 2px;
    font-size: 16px;
    order: 5;
    padding: 16px;
    border: 1px solid $bgGrayLight;
    display: none;

    &.--mob {
      display: block;
    }
  }

  .project-item__image {
    height: auto;

    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .filter.--flats .filter__content_inner {
    padding-top: 20px;
    padding-bottom: 32px;
  }

  .filter__content_inner {
    padding-top: 20px;
    padding-bottom: 32px;
  }
}


@media screen and (max-width: 768px) {
  .project-item__left_top {
    flex-direction: column;
    gap: 16px;
  }

  .filter.--flats .filter__content_item {
    flex-wrap: wrap;

    div {
      width: 50%;
    }
    .link {
      margin-top: 12px;
    }

    .filter__content_item_square {
      text-align: right;
    }
  }

  .filter.--flats .filter__content_inner {
    gap: 32px;
  }
}
