.subscribe-section {
    padding-top: 250rem;
}


.subscribe-section__wrap {
    display: grid;
    grid-template-columns: 280rem 980rem;
    gap: 280rem;
}

.subscribe-section__title {
    font-size: 40rem;
    font-weight: 300;
}

.subscribe-form {
    width: 100%;
    margin-top: 100rem;
    display: flex;
    flex-direction: column;

    .form-input {
        width: 100%;
        margin-bottom: 40rem;
    }
}


.subscribe-form__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 12rem;
        color: $textGray;
        max-width: 280rem;
    }

}


.subscribe-form__btn {
    background: none;
    border: 1rem solid $bgBlack;
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .subscribe-section {
        padding-top: 120px;
    }


    .subscribe-section__wrap {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .subscribe-section__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 120%;
        max-width: 70%;
    }

    .subscribe-form {
        width: 100%;
        margin-top: 64px;

        .form-input {
            margin-bottom: 40px;
        }
    }


    .subscribe-form__bottom {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        p {
            font-size: 14px;
            max-width: none;
        }

    }

    .subscribe-form__btn {
        border: 1px solid $bgBlack;
        width: 50px;
        height: 50px;
    }
}


@media screen and (max-width: 768px){
    .subscribe-section__wrap {
        gap: 16px;
    }
    .subscribe-section__title {
        width: 100%;
        max-width: none;
        font-size: 24px;
        font-weight: 500;
    }

    .subscribe-form__bottom {
        flex-direction: column;
        gap: 16px;
    }

    .subscribe-form__btn {
        margin-left: auto;
    }
}
