.burger {
    position: relative;
    width: 50rem;
    cursor: pointer;
    height: 50rem;

    .top,
    .bottom {
        position: absolute;
        background: $bgBlack;
        height: 2rem;
    }

    .top {
        top: 21rem;
        width: 100%;
    }

    .bottom {
        bottom: 21rem;
        width: 30rem;
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .burger {
        width: 28px;
        height: 28px;

        .top,
        .bottom {
            height: 2px;
        }

        .top {
            top: 11px;
            width: 100%;
        }

        .bottom {
            bottom: 11px;
            width: 16px;
            right: 0;
        }
    }
}
