.mf-cursor {

    opacity: 1;
    mix-blend-mode: difference;

    &.-text {
        // transform: rotate(0) !important;
        background-color: $bgBlack;
        mix-blend-mode: normal;

        &:before {
            background: $bgBlack;
            transform: scale(2.4);
        }


        & .mf-cursor-text {

            color: $textWhite;
        }

    }

    &:before {

        transform: scale(1);
        border-radius: 4rem;
        background-color: $bgWhite;
        // background-color: $bgBlack;

    }

    &.-pointer::before {
        transform: scale(.6);

    }
}
