.mf-cursor {
    &:before {
        transform: scale(1);
        border-radius: 4rem;
        background: $bgBlack;
        background-blend-mode: darken;
    }

    &.-pointer::before {
        transform: scale(.6);

    }
}
