.form-input {
    position: relative;
}

.form-input input {
    display: block;
    border: none;
    border-bottom: solid 1rem $bgGrayLight;
    transition: all .3s ease;
    line-height: 1;
    padding: 18rem 0;
    width: 100%;
}

.form-input input:focus {
    border-color: $bgBlack
}

.form-input label {
    position: absolute;
    z-index: 2;
    top: 18rem;
    left: 0;
    color: $textBlack;
    transition: all .3s ease-in-out
}

.form-input input:focus+label,
.form-input input:valid+label {
    font-size: 12rem;
    top: -6rem;
    color: $textBlack
}

.form-input input:focus+label {
    color: $textBlack
}
