.plus {
    position: relative;
    width: 21rem;
    height: 21rem;
    cursor: pointer;

    span {
        position: absolute;
        background: $bgBlack;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1rem;
        width: 100%;
        transition: transform .3s cubic-bezier(.47, 2, .1, .8);
    }

    &:hover {
        .vertical {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    &.active {
        .vertical {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    .vertical {
        transform: translate(-50%, -50%) rotate(90deg);
    }

}

@media screen and (max-width: 1200px) {
    .plus {
        width: 16px;
        height: 16px;

        span {
            height: 1px;
        }

        &:hover {
            .vertical {
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }

        .vertical {
            transform: translate(-50%, -50%) rotate(90deg);
        }

    }
}
