.h1 {
    font-size: 295rem;
    line-height: 85%;
    font-weight: 300;
}


.h2 {
    font-size: 64rem;
    line-height: 110%;
    font-weight: 400;
}

.title-animation {
    display: flex;

    span {
        cursor: default;

        // transform: translate(-50%, -50%) rotate(0deg);
        transition: all .2s ease-in;

        &:hover {
            margin-top: -60rem;
        }

    }
}
